app = 'almacen-fe'
primary_region = 'iad'

[build]
dockerfile = "almacen.dockerfile"

[build.args]
VITE_API_BASE_URL = "https://almacen-be.fly.dev/"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
